<div class="row margin-vert-zero">
    <div class="column padding-vert-zero bg-white">
        <div class="row margin-vert-zero vert-middle">
            <div class="column w-224 vert-align-top bg-white padding-vert-normal padding-horiz-medium">
                <ul class="no-bullet">
                    <li>
                        <a class="text-large bold" (click)="addLine()">Add a Line</a>
                    </li>
                    <br>

                    <list-device *ngFor="let line of lineSummaryList"
                        [line]="line"
                        (change)="linesSelectionChange(line)"
                        (reset)="resetDevice(line)"></list-device>

                </ul>
            </div>
            <div class="column vert-align-top border-right padding-vert-small padding-horiz-medium border-left border-grey-5 bg-grey-6">
                <div class="row margin-vert-zero">
                    <div class="column padding-vert-zero tiny-6">
                        <p class="font-20 bold padding-top-micro">Recommended Devices</p>
                    </div>
                    <div class="column padding-vert-zero tiny-6">
                        <ul class="tiny-block-grid-2">
                            <li>
                                <select class="device-marketing marketing margin-bottom-zero bg-grey-6 padding-left-zero text-large text-black"
                                        [(ngModel)]="selCategory" (change)="onCategoryChange()">
                                    <option *ngFor="let category of availableCategories" [value]="category">
                                        {{ category }}
                                    </option>
                                </select>
                            </li>
                            <li>
                                 <input type="text" [(ngModel)]="searchText" (blur)="onCategoryChange()" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row margin-vert-zero">
                    <div class="column padding-vert-zero">
                        <device-details *ngFor="let recDevice of recommendedDevices"
                            [device]="recDevice" (select)="handleSelect($event)"></device-details>
                    </div>
                </div>

                <div class="row margin-vert-zero">
                    <div class="column padding-vert-zero">
                        <p class="font-20 bold margin-top-tiny margin-bottom-tiny">Other Devices</p>


                        <device-details *ngFor="let device of devices"
                            [device]="device" (select)="handleSelect($event)"></device-details>


                        <!--<p-dataScroller [value]="devices" [rows]="10" [lazy]="true" (onLazyLoad)="pagedDevices()">
                            <template let-ChildProducts pTemplate="item">

                                <device-details
                                    [device]="ChildProducts" (select)="handleSelect($event)"></device-details>

                            </template>
                        </p-dataScroller>-->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="absolute">
    <div class="button-fixed-bottom">
        <div class="row">
            <div class="column padding-vert-normal padding-top-medium padding-bottom-small text-right " style="width: 1010px;">
                <a class="button no-icon auto border-radius-50" (click)="upgradeDevice()">Select Device</a>
                <a class="button no-icon auto border-radius-50" (click)="routeToOverview()">Go to Overview</a>
            </div>
        </div>
    </div>
</div>

<p-growl [value]="msgs" life="5000"></p-growl>
